* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

body {
  background: #0b0b12; /* fundo dark */
  color: #fff;
  min-height: 100vh;
}

/* HEADER */
.header {
  height: 70px;
  background: #0f0f18;
  border-bottom: 1px solid #1f1f2e;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 30px;
}

/* LOGO */
.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  font-weight: 700;
  font-size: 1.1rem;
}

.logo img {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  cursor: pointer;
}

/* NAV */
.nav {
  display: flex;
  gap: 25px;
}

.nav a {
  color: #aaa;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
}

.nav a:hover {
  color: #fff;
}

.nav a.active {
  color: #4da6ff;
}

/* CONTEÚDO DA PÁGINA */
.page {
  padding: 60px 20px;
}

#music-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background: #181825;
  color: #fff;
  border: none;
  padding: 10px 14px;
  border-radius: 10px;
  cursor: pointer;
}
